{% extends "base.html" %}

{% block app_content %}
	<h1>Queue</h1>
	<form action="" method="post" name="queue">
		{{ form.hidden_tag() }}
		<div>
			<table style="width:60%; padding:10px;  border: 1px solid black; border-collapse:collapse">
				<tr >
					<th>File Name</th>
					<th>File Type</th>
					<th>Archive?</th>
				</tr>
				{% for doc in documents %}
				<tr style="border: 1px solid black; border-collapse:collapse">
					<td>{{ doc.name }}</td>
					<td>{{ doc.type_ }}</td>
					<td><input type=checkbox name='selection' value={{ doc.id_ }}></input></td>
				</tr>
				{% endfor %}
			</table>
		</div>
		{{ form.refresh }}
		{{ form.archive }}
	</form>
{% endblock %}
