{% extends "base.html" %}
{% block app_content %}
	<form style="margin: auto; position:absolute; left:0px; width: 100%" action="" method="post" name="archive">
		{{ form.hidden_tag() }}
		<div style="display:inline-block; padding:10px; width: 100%">
			<div style="padding:10px; height:10%; width: 100%">
				<div style="display:inline-block; width: 25%"><label>Search criteria</label></div>
				<div style="display:inline-block; width: 60%">{{ form.criteria }}</div>
			</div>		
			<div style="padding:10px">
			{{ form.search }}
			{{ form.cancel }}
			</div>	
			<div style="padding:10px; height:10%; width: 100%">
			<table style="width:60%; padding:10px;  border: 1px solid black; border-collapse:collapse">
				<tr >
					<th>File Name</th>
					<th>File Tags</th>
					<th>Relevance</th>
					<th>Edit?</th>
				</tr>
				{% for doc in documents %}
				<tr style="border: 1px solid black; border-collapse:collapse">
					<td>{{ doc.name }}</td>
					<td>{{ doc.tags }}</td>
					<td>{{ doc.relevance }}</td>
					<td><input type=checkbox name='selection' value={{ doc.id_ }}></input></td>
				</tr>
				{% endfor %}
			</table>
			</div>
			<div style="padding:10px">
			{{ form.edit }}
			</div>	
		</div>
	</form>
{% endblock %}
